.log{
    position: absolute;
    width: 460px;
    top: 120px;
    left: 707px;
}
.logform{
    float: right;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    font-weight: 550;
    color: rgb(59, 58, 58);
    background-color: rgb(209, 214, 213,0.5);
    border: hidden;
    border-radius: 20px;
    height: 400px;
}

.log_input{
    width: 350px;
    height: 30px;
    border-color: rgb(189, 190, 190);
    border-radius: 10px;
}
label{
    font-size: 17px; 
}
.log_butn{
    margin-left: 105px;
    width: 40%;
    height: 40px;
    background-color: rgb(43, 123, 228);
    border: hidden;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 470;
    color: white;
}
.log_h1{
    font-size: 32px;
    text-align: center;
}
.log_p{
    text-align: center;
    color: rgb(85, 83, 83);
}
.log_err{
    text-align: center;
    font-size: 13px;
    color: red;
    font-weight: 370;
}
