
.home_caro{
    height: 300px;
    width: 500px;
    padding-bottom: 20px;
}
.caro{
   
    height: 300px;
    width: 500px;
}
.home_text1{
    margin-left: 800px;
    margin-top: -300px;
}
.home_cont1{
    margin-top: 65px;
}
.home_text2{
    color: rgb(7, 110, 245);
}
.my_foll{
    text-align: center;
}
.home_foll_text{
    color: rgb(51, 51, 51);
    font-weight: 400;
}
.home_icon{
    width: 400px;
}
.home_icon_face{
    font-size: 40px;
    color: rgb(14, 78, 253);
}
.home_icon_insta{
    font-size: 40px;
    color: rgb(253, 0, 0);
}
.home_icon_twitter{
    font-size: 40px;
    color: rgb(6, 83, 250);
}
.home_icon_linkedin{
    font-size: 40px;
    color: rgb(6, 83, 250);
}