.PNG_footer{
    margin-top: 60vh;
}
.PNF_back{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQv7cPYhygk37Q7v5c5IrBC7yqshTt9-q5Pic_zKzm3b-cfpKgOotRwdAfIlrOU2TWbDD0&usqp=CAU');
    background-repeat: no-repeat;
    background-size: 110%;
    text-align: center;
}