.fd_back{
background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQv7cPYhygk37Q7v5c5IrBC7yqshTt9-q5Pic_zKzm3b-cfpKgOotRwdAfIlrOU2TWbDD0&usqp=CAU');
background-repeat: no-repeat;
background-size: 150%;
}
.fd_butn{
    text-align: center;
    margin-left: 30%;
    margin-top: 5px;
}
.mycard{
    background-color: rgb(232, 235, 234);
}
.fd_doc{
    text-align: center;
    color: rgb(63, 62, 62);
    text-decoration: none !important;
}